.subheader {
	display: grid;
	grid-template-columns: min-content min-content auto;
	grid-template-areas: 'subheader search add-project';
	place-items: center end;
	gap: 20px;
	padding: 20px 20px 0;
}

.subheader-calendar-button {
	grid-area: 'calendar';
	padding: 8px 12px;
}

.subheader-input {
	display: flex;
	grid-area: 'search';
	justify-self: start;
}

.search {
	justify-self: start;
	border-radius: 0 6px 6px 0;
	box-shadow:
		0 1px 2px rgb(0 0 0 / 6%),
		0 0 0 1px rgb(134 143 160 / 16%);
	padding-block: 6px;
}

.subheader-add-button {
	grid-area: 'add-project';
	justify-self: end;
	background-color: #5e5adb;
}
