.button {
	gap: 8px;
	border-radius: 6px;
	color: #171c26;
}

.button-small {
	width: 24px;
	height: 20px;
	padding: 2px 4px 2px 4px;
}

.button-medium {
	width: 71px;
	height: 32px;
	padding: 6px 12px 6px 12px;
}

.button-large {
	width: 95px;
	height: 32px;
	padding: 6px 12px 6px 12px;
}
