.page {
	--gray-rgb: 0, 0, 0;
	--gray-alpha-200: rgba(var(--gray-rgb), 0.08);
	--gray-alpha-100: rgba(var(--gray-rgb), 0.05);
	--button-primary-hover: #383838;
	--button-secondary-hover: #f2f2f2;
	display: grid;
	grid-template-rows: 20px 1fr 20px;
	place-items: center center;
	gap: 64px;
	min-height: 100svh;
	padding: 80px;
	font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
	.page {
		--gray-rgb: 255, 255, 255;
		--gray-alpha-200: rgba(var(--gray-rgb), 0.14);
		--gray-alpha-100: rgba(var(--gray-rgb), 0.06);
		--button-primary-hover: #cccccc;
		--button-secondary-hover: #1a1a1a;
	}
}

.main {
	display: flex;
	grid-row-start: 2;
	flex-direction: column;
	gap: 32px;
}

.main ol {
	margin: 0;
	padding-left: 0;
	font-size: 14px;
	font-family: var(--font-geist-mono);
	line-height: 24;
	letter-spacing: -0.01em;
	list-style-position: inside;
}

.main li:not(:last-of-type) {
	margin-bottom: 8px;
}

.main code {
	padding: 2px 4px;
	font-weight: 600;
	font-family: inherit;
	background: var(--gray-alpha-100);
	border-radius: 4px;
}

.ctas {
	display: flex;
	gap: 16px;
}

.ctas a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
	padding: 0 20px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20;
	border: none;
	border: 1px solid transparent;
	border-radius: 128px;
	cursor: pointer;
	transition:
		background 0.2s,
		color 0.2s,
		border-color 0.2s;
	appearance: none;
}

a.primary {
	gap: 8;
	color: var(--background);
	background: var(--foreground);
}

a.secondary {
	min-width: 180px;
	border-color: var(--gray-alpha-200);
}

.footer {
	display: flex;
	width: 100%;
	align-items: center;
	text-align: center;
	gap: 8px;
	padding: 30px 0;
}

.footer p {
	display: block;
	justify-content: center;
}

.button {
	gap: 8px;
	border-radius: 6px;
	opacity: 0px;
}

.button:focus {
	box-shadow: 0px 0px 0px 4px #5E5ADB66;
}

.button-small {
	width: 24px;
	height: 20px;
	padding: 2px 4px 2px 4px;
}

.button-medium {
	width: 71px;
	height: 32px;
	padding: 6px 12px 6px 12px;
}

.button-large {
	width: 95px;
	height: 32px;
	padding: 6px 12px 6px 12px;
}

.button-white:disabled {
	background: #F7F9FC;
}

.button-red {
	background: #D1293D;
}

.button-red:hover {
	background: #D1293D;
}

.button-red:disabled {
	background: #F76F7F;
}

.button-blue {
	background: #4945C4;
}

.button-blue:hover {
	background: #4945C4;
}

.button-blue:disabled {
	background: #9E9BF5;
}
