.tab {
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0.02em;
}

.tab:active {
	color: #5e5adb;
	text-decoration: underline 2px;
}

.tab-underlined {
	color: #171c26;
	text-decoration: underline 2px;
}

.tab-simple:active {
	color: #464f60;
}

.tab-numbers {
	width: 29px;
	height: 16px;
	padding: 0px 6px 0px 6px;
	gap: 10px;
	border-radius: 13px;
	background: #e9edf5;
	color: #5a6376;
}
