.pagination {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px 13px;
	color: #687182;
	font-size: 12px;
	letter-spacing: 0.03em;
}

.pagination-block {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.pagination-block button {
	display: flex;
	gap: 8px;
	border-radius: 6px;
}

.pagination-block p {
	display: block;
}

.pagination-select {
	display: flex;
	padding-right: 14px;
	color: inherit;
	font: inherit;
	background-image: url('../../../shared/lib/icons/down.svg');
	background-repeat: no-repeat;
	background-position: center right;
	border: none;
	outline: none;
}

.pagination-select-option {
	display: flex;
	gap: 8px;
	padding: 4px 10px;
	text-align: center;
}

.pagination-select-option:hover {
	background: #5e5adb;
	border-radius: 4px;
}
