.pagination {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	inline-size: 100%;
	padding: 20px 13px;
	color: #687182;
	font-size: 12px;
	letter-spacing: 0.03em;
}

.pagination-block {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.pagination-block button {
	/* Button */
	display: flex;
	gap: 8px;
	border-radius: 6px;
}

.pagination-block p {
	display: block;
}
