.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
	block-size: 100%;
	overflow: auto;
	background: #151357;
	place-items: center;
}

.sidebar-logo {
	display: block;
	padding: 15px;
}

.sidebar-element {
	display: flex;
	inline-size: 40px;
	block-size: 40px;
	padding: 8px;
	background: transparent;
	border: 1.5px solid transparent;
	border-radius: 6px;
	place-items: center;
}

.sidebar-element:not(.active):hover {
	background: #2a278f;
	border: 1.5px solid #ffffff;
}

.active {
	background: #0d0b45;
	border: 1.5px solid #2a278f;
	fill: #ffffff;
}
