.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
	block-size: 100%;
	overflow: auto;
	background: #151357;
	place-items: center;
}

.sidebar-logo {
	display: block;
	padding: 15px;
}

.sidebar-element {
	padding: 8px;
}

.active {
	background: #0d0b45;
	border: 1px solid #2a278f;
	border-radius: 6px;
}
