.header {
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	inline-size: calc(100% - var(--sidebar-width, 72px));
	color: #222834;
	background: #f7f9fc;
	border: 1px solid #e9edf5;
}

.header svg {
	cursor: pointer;
}

.header-avatar {
	border-radius: 50%;
}

.header-block {
	display: flex;
	gap: 14px;
	padding: 0 12px;
	place-items: center;
}

.header-number {
	display: flex;
	flex-direction: row;
	padding: 2px 6px;
	color: #5e5adb;
	place-self: center;
	background: #ededfc;
	border-radius: 13px;
}
